name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '**' ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
      - name: Update Rust
        run: rustup update
      - name: Required tools
        run: cargo install cargo-deny && rustup component add clippy
      - name: Build
        run: cargo build --verbose
      - name: Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings
      - name: License check
        run: cargo deny -L debug --all-features --locked check
      - name: Run tests
        run: cargo test --verbose